<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href ="/static/bootstrap.css">
    <script src="/static/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap.js"></script>
    <style>
    </style>
</head>
<body>

<div class="jumbotron masthead">
    <div class="container">
    <h1>Oracle Load Analyze</h1>
<form action="/ora_dual/login/" method="POST">
  username:<input type="text" name="username"><p></p>
  password:<input type = "password" name="passwd"><p></p>
  <input type="submit" value="Submit">
  <span style ="color:red;">{{ error_msg }}</span>
</form>
    </div>
</div>
</body>
</html>